.Game {
  display: flex;
  flex-direction: column;
}

.Game--header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Game--header-right {
  align-self: flex-start;
}

#Game--header-team {
  color: #212529;
  text-decoration: none;
}

#Game--header-opp-team {
  color: gray;
  font-size: 16px;
  text-decoration: none;
}

.Game--stats-button {
  margin-top: 5px;
}

.Game--content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}