.GameItem {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.GameItem--logo {
  width: 100px;
  height: 100px;
}

.GameItem--win {
  font-size: 32px;
  padding: 0 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}