
.ScoreItem {
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
    height: 95px;
    width: 95px;
}

.small {
  height: 55px;
  width: 55px;
}

.small .ScoreItem--Score {
  font-size: 14px;
}

.small .ScoreItem--Stat {
  font-size: 8px;
}

.ScoreItem--Score {
    font-size: 32px;
    text-align: center;
}

.ScoreItem--Stat {
    font-size: 12px;
    text-align: center;
}