.ScoreItemGrid .ScoreItem {
  float: left;
  border-radius: 0px;
}

/*.ScoreItemGrid .ScoreItem:first-child {
  float: left;
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid black;
}*/

@media only screen and (max-width: 600px) {
  .ScoreItemGrid {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ScoreItemGrid .ScoreItem {
    float: left;
    border: 1px solid black;
  }

  .ScoreItemGrid .ScoreItem:first-child {
    float: left;
    border-radius: 0px;
    border-left: 1px solid black;
  }
}