
.ScoreItem {
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
    height: 95px;
    width: 95px;
}

.large {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.large .ScoreItem--Score {
  font-size: 32px;
}

.large .ScoreItem--StatName {
  font-size: 12px;
}

.ScoreItem--Score {
    font-size: 32px;
    text-align: center;
}

.ScoreItem--StatName {
    font-size: 12px;
    text-align: center;
}
